<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.Workermapper">

    <update id="updatewoker" parameterType="worker">
        update worker set
        <if test="phone!=null and phone!=''">
        phone=#{phone},
        </if>
     mail=#{mail},type_worker=#{type_worker},gender=#{gender} where num=#{num}
    </update>

    <select id="returnworker" resultType="worker" parameterType="string">
        select * from worker where num=#{num}
    </select>

    <resultMap id="inforMap" type="infor">
        <id column="inum" property="num"></id>
        <result column="userid" property="userid"></result>
        <result column="place" property="place"></result>
        <result column="equip" property="equip"></result>
        <result column="detail" property="detail"></result>
        <result column="ad_replay" property="ad_replay"></result>
        <result column="reason" property="reason"></result>
        <result column="floor" property="floor"></result>
        <result column="layer" property="layer"></result>
        <result column="h_number" property="h_number"></result>
        <result column="distribute_time" property="distribute_time"></result>
        <result column="complete_time" property="complete_time"></result>
        <result column="imagepath1" property="imagepath1"></result>
        <result column="imagepath2" property="imagepath2"></result>
        <result column="imagepath3" property="imagepath3"></result>
        <result column="imagepath4" property="imagepath4"></result>
        <result column="imagepath5" property="imagepath5"></result>
        <result column="evaluate" property="evaluate"></result>
        <result column="workerid" property="workerid"></result>
        <result column="state" property="state"></result>
        <result column="comment" property="comment"></result>
        <result column="icreatedate" property="createdate"></result>
        <association property="replay" javaType="replay" column="inum">
            <id column="rnum" property="num"></id>
            <result column="inforid" property="inforid"></result>
            <result column="workerid" property="workerid"></result>
            <result column="rdetail" property="detail"></result>
            <result column="eid" property="eid"></result>
            <result column="numbers" property="numbers"></result>
            <result column="rcreatedate" property="createdate"></result>
        </association>
    </resultMap>

    <update id="modifpass">
        update worker set password=#{param2} where num=#{param1}

    </update>

    <select id="infor_ok" resultMap="inforMap" parameterType="string">
              SELECT *,i.num inum,r.num rnum ,i.createdate icreatedate,r.createdate rcreatedate,i.detail idetail,r.detail rdetail
        FROM infor i,replay r WHERE i.workerid=#{workerid} AND  i.state in("维修成功","维修失败") AND i.num=r.inforid  ORDER BY i.createdate DESC

    </select>

    <select id="Listinfor" resultMap="inforMap" parameterType="string">
                  SELECT *,i.num inum,r.num rnum ,i.createdate icreatedate,r.createdate rcreatedate,i.detail idetail,r.detail rdetail
        FROM infor i,replay r WHERE i.workerid=#{workerid}  AND i.state="待维修" AND i.num=r.inforid  ORDER BY i.createdate DESC

    </select>

    <select id="infor_ing" resultMap="inforMap" parameterType="string">
             SELECT *,i.num inum,r.num rnum ,i.createdate icreatedate,r.createdate rcreatedate,i.detail idetail,r.detail rdetail
        FROM infor i,replay r WHERE i.workerid=#{workerid} AND i.state="正在维修" AND i.num=r.inforid  ORDER BY i.createdate DESC

    </select>

    <update id="ok_infor" parameterType="string">
        update infor set state="正在维修" where num=#{num}
    </update>

    <update id="success_infor" parameterType="string">
        update infor set state=#{arg1} ,complete_time=NOW() where num=#{arg0}
    </update>
    <update id="play_replay" parameterType="string">
            update replay set eid=#{eid},detail=#{detail},numbers=#{numbers} where inforid=#{inforid}



    </update>

    <update id="play_equipment" parameterType="string">
        update equipment  set number=number-#{number} where eid=#{eid}

    </update>

    <select id="billnum" resultType="string">
         SELECT MAX(num) FROM bill
    </select>

    <insert id="insertbill" parameterType="bill">
        insert into bill(num,cost,place,useing,workerid) values (#{num},#{cost},#{place},#{useing},#{workerid})
    </insert>

    <select id="listbill" resultType="bill">
        select * from bill where workerid=#{workerid} ORDER  BY createdate DESC
    </select>
    <update id="updatehead">
        update worker set headpath=#{param2} where userid=#{param1}
    </update>
    <select id="equipmentlist" resultType="equipment">
        select * from equipment
    </select>
</mapper>
